@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
  --font-sans: var(--font-work-sans);
  --shadow-md-custom: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
}

body {
  font-family: var(--work-sans), sans-serif;
}

.prose p,
ul {
  font-size: 1rem;
}

.prose h2 {
  font-size: 1.5rem;
}

.prose h3 {
  font-size: 1rem;
  color: #364153;
  font-weight: 500;
}

.green-circle-symbol {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  position: relative;
  border: 4px solid #00af76;
  border-radius: 50%;
  border-bottom-color: transparent;
  border-bottom-width: 1px;
}

.wavy-shape {
  clip-path: url(#wavy-line);
}

.over-ons-shaoe {
  clip-path: url(#over-ons-image);
}

/* HTML: <div class="hexagon"></div> */
.hexagon-straight {
  height: 200px; /* adjust to control the size  */
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  background: #1b7ced;
}

/* HTML: <div class="hexagon"></div> */
.hexagon {
  --b: 40px; /* adjust to control the border  */
  height: 250px; /* adjust to control the size  */
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(
    0 50%,
    50% -50%,
    100% 50%,
    50% 150%,
    0 50%,
    var(--b) 50%,
    calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    var(--b) 50%
  );
  background: #ffffff;
  /* opacity: 30%; */
}

.hexagon-small {
  --b: 40px; /* adjust to control the border  */
  height: 170px; /* adjust to control the size  */
  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(
    0 50%,
    50% -50%,
    100% 50%,
    50% 150%,
    0 50%,
    var(--b) 50%,
    calc(25% + var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(75% - var(--b) * cos(60deg)) calc(100% - var(--b) * sin(60deg)),
    calc(100% - var(--b)) 50%,
    calc(75% - var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    calc(25% + var(--b) * cos(60deg)) calc(var(--b) * sin(60deg)),
    var(--b) 50%
  );
  background: #ffffff;
  /* opacity: 30%; */
}

.magicpattern {
  width: 60rem;
  height: 60rem;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22b%22%3E%3Cpath fill=%22currentColor%22 d=%22M517 690.5Q280 881 277 494.5T514 304q240 196 3 386.5Z%22%2F%3E%3C%2FclipPath%3E%3Cfilter id=%22a%22 x=%22-50vw%22 y=%22-50vh%22 width=%22100vw%22 height=%22100vh%22%3E%3CfeFlood flood-color=%22%23fff%22 result=%22neutral-gray%22%2F%3E%3CfeTurbulence type=%22fractalNoise%22 baseFrequency=%222.5%22 numOctaves=%22100%22 stitchTiles=%22stitch%22 result=%22noise%22%2F%3E%3CfeColorMatrix in=%22noise%22 type=%22saturate%22 values=%220%22 result=%22destaturatedNoise%22%2F%3E%3CfeComponentTransfer in=%22desaturatedNoise%22 result=%22theNoise%22%3E%3CfeFuncA type=%22table%22 tableValues=%220 0 0.1 0%22%2F%3E%3C%2FfeComponentTransfer%3E%3CfeBlend in=%22SourceGraphic%22 in2=%22theNoise%22 mode=%22soft-light%22 result=%22noisy-image%22%2F%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Cg filter=%22url(%23a)%22 clip-path=%22url(%23b)%22%3E%3Cpath fill=%22%2309182b%22 d=%22M517 690.5Q280 881 277 494.5T514 304q240 196 3 386.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Voor Chrome, Safari, en Opera */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Voor IE en Edge */
  scrollbar-width: none; /* Voor Firefox */
}
